---
layout: layouts/base.njk
---
<article>
    <h1 class="mb-4 mt-0">{{ title }}</h1>
    <span class="block mb-64 muted-text small">
    <time datetime="{{ date | formatDate('iso') }}">{{ date | formatDate }}</time>
    · I reply to every <a class="muted-text" href="https://signal.me/#eu/d0xsyTaUj-fOp_ycZ0tJmy3mHSljfhIZjTSie9jKsmn_fEGEEM1KAKMmw3jFqzuz" alt="Signal user @geffrey.01">message on Signal</a>
    </span>
    {{ content | safe }}
</article>
