---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
/* TEAM */
Developer & Designer: Geffrey van der Bos
Site: https://geff.re
Location: Arnhem, The Netherlands
Fediverse: @geffrey@id.geff.re

/* SITE */
Last update: {{ "" | lastCommitDate | htmlDate }}
Standards: HTML5, CSS3, JavaScript
Components: Eleventy
Software: Zed
