---
layout: layouts/base.njk
title: Essays
---

<p>You've found my personal site. I write essays to explore technology, music, and what it means to live a good life. You’re welcome to read along.</p>

<hr>

{% include "partials/profile.njk" -%}
{% include "partials/recent-post.njk" -%}
{% include "partials/essays-loop.njk" -%}
