---
layout: layouts/base.njk
title: Essays
---

<p class="drop-cap">You've found my personal site. I write essays to explore technology, music, and what it means to live a good life. You’re welcome to read along.</p>

{% include "partials/profile.njk" -%}
{% include "partials/essays-loop.njk" -%}
