{% if fediverse_id %}
<section id="comment-section">
    <div class="comment-ingress">
        Search <a class="no-ext-icon" href="{{ site.fediverse.instance }}/{{ site.fediverse.handle }}/statuses/{{ fediverse_id }}">this post URL</a> in Mastodon/Fediverse to reply.
    </div>
  <div id="comments" data-id="{{ fediverse_id }}">
    <p>Loading comments...</p>
  </div>
</section>

<template id="comment__template">
  <article class="comment">
    <img class="comment__profile-picture" />
    <div>
        <div class="comment-meta">
            <div class="author"></div>
            <div class="publish-date small"></div>
        </div>
        <div class="comment__content">
        <div class="content"></div>
        </div>
    </div>
  </article>
</template>
{% endif %}
