<footer class="mt-64 mb-8 pt-16 muted-text">
<div>
    <a href="/"><img src="/assets/black-metal-logo-geffrey.svg" alt="Geffrey" /></a><br>
    100% human-authored. Hand-coded with HTML/CSS. Built with <a href="https://www.11ty.dev" title="Eleventy is a simpler static site generator">Eleventy</a>. Hosted on Github (until <a href="https://blog.codeberg.org/letter-from-codeberg-onwards-and-upwards.html" title="Host static websites with Codeberg Pages
">Codeberg Pages 2.0</a>). Absolutely no tracking.
</div>
</footer>
