<footer class="mt-12 mb-8 pt-8 muted-text">
<div>
    Hand-coded with HTML and CSS. <a href="https://www.11ty.dev" title="Eleventy is a simpler static site generator">Eleventy</a> builds it. Currently hosted on Github Pages. No AI is used to build or write this site.
</div>
</footer>
