<div class="profile-card h-card">
    <h1 class="profile-card__title">About <span class="p-name">{{ bio.displayName }}</span></h1>
    <img width="96" height="96" class="profile-card__avatar u-photo" src="{{ bio.avatar }}" alt="{{ bio.avatarDescription }}" />
    <div>
    <div class="profile-card__bio p-note bio">
    {{ bio.html | safe }}
    </div>
    <a class="u-url hidden" href="{{ site.url }}" rel="me"></a>
    <div class="profile-card__links links">
      <a href="{{ site.contact.github }}" rel="me">GitHub</a>
      <a href="{{ site.fediverse.instance }}/{{ site.fediverse.handle }}" rel="me">{{ site.fediverse.handle }}@{{ site.fediverse.instance | replace("https://", "") }}</a>
    </div>
  </div>
</div>
